.menu-enter-active {
  transition:
    transform 700ms var(--easing-menu-translate),
    opacity 250ms var(--easing-menu-opacity);
}

.menu-leave-active {
  transition: 150ms var(--easing-menu-opacity);
}

.menu-enter-from,
.menu-leave-to {
  opacity: 0;
  transform: translateY(80px);
}

.menu-enter-active :deep(.menu-section),
.menu-leave-active :deep(.menu-section) {
  transition: all 400ms var(--easing-menu-translate);
}

.menu-enter-from :deep(.menu-section),
.menu-leave-to :deep(.menu-section) {
  transform: translateY(400px) scaleY(1.5);
  opacity: 0;
}

.menu-enter-active :deep(.menu-section),
.menu-leave-active :deep(.menu-section) {
  transition: all 400ms var(--easing-menu-translate);
}

.menu-enter-from :deep(.menu-section),
.menu-leave-to :deep(.menu-section) {
  transform: translateY(400px) scaleY(1.5);
  opacity: 0;
}
